<div class="dashboard-wrapper">
    <div class="users-info">
        <p>{{fisrtName}}</p>
        <p>{{lastName}}</p>
    </div>
    <button (click)="logOut()">Log Out</button>
    <table>
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Password</td>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let user of users">
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>